body {
	margin: 0;
	font-family: Bogle, Helvetica Neue, Helvetica, Arial, sans-serif;
}
header {
	background-color: #0071dc;
	position: sticky;
	top: 0;
	width: 100%;
	height: 132px;
	display: flex;
	flex-direction: column;
	z-index: 1;
}
header > div {
	width: auto;
}
.banner {
	padding: 1rem 1.5rem;
	display: flex;
}
.banner > div {
	height: 52px;
}
.banner-options {
	background-color: rgb(242, 248, 253);
	height: 48px;
}

.walmart-buttons {
	cursor: pointer;
	padding: 10px 20px;
	height: 100%;
	border-radius: 27px;
	color: white;
	border: 0px;
	background-color: #004f9a;
}
.walmart-buttons:hover {
	background-color: #002d58;
}
.right-align {
	margin-left: auto;
}
.walmart-feedback-buttons {
	cursor: pointer;
	padding: 10px 10px;
	border-radius: 25px;
	color: black;
	background-color: white;
	border: 1px solid black;
}
.walmart-feedback-buttons:hover {
	box-shadow: 0px 0px 2px 0px black inset;
}
.star-fill {
	width: 15px;
	height: 15px;
}

.offers {
	padding: 1.5rem;
}
.offers > div {
	background: #fff;
	border-radius: .5rem;
	box-shadow: 0 .0625rem .125rem .0625rem #00000026, 0 -.0625rem .125rem 0 #0000001a;
	width: 100%;
	height: 320px;
}

.quick-filters {
	border-top: 1px solid lightgrey;
	padding: 1rem 1.5rem;
	display: flex;
	height: 32px;
}
.quick-filters > div {
	height: 32px;
	display: flex;
	align-items: center;
}

.products-container {
	border-top: 1px solid lightgrey;
	padding: .5rem 1.5rem;
}
.products-container .filters {
	width: 20%;
	border-right: 1px solid lightgrey;
	display: flex;
	flex-direction: column;
	padding: .5rem 1rem;
	float: left;
	margin-right: 1.5em;
	position: sticky;
	top: 132px;
	height: calc(100% - 132px);
}
.products-container .filters > div {
	padding: 1rem 0;
	font-size: 1.125rem;
	color: #2e2f32;
	font-weight: 700;
	border-bottom: 1px solid lightgrey;
	cursor: pointer;
}
.products {
	padding: .5rem 1.5rem;
	width: calc(100% - 3rem);
}
.products-overview {
	display: flex;
	flex-wrap: wrap;
}
.products-overview > div {
	width: 25%;
	border-bottom: 1px solid lightgrey;
	padding-bottom: 1rem;
}
.products-overview .product {
	width: calc(25% - 1.5rem);
	padding-right: 1.5rem;
	display: flex;
	flex-direction: column;
}
.products-overview .product > div {
	cursor: pointer;
}
.products-overview .product-image {
	width: 100%;
	height: auto;
	margin: 1.5rem 0 0 0;
	display: flex;
	align-items: center;
}
.products-overview .product-info {
	padding: 0rem 1.5rem;
	display: flex;
	flex-direction: column;
}
.products-overview .product-info > span {
	color: #74767c;
}
.products-overview .product-image > img {
	width: 100%;
}
.products-overview .product-rating {
	padding: 1rem 1.5rem;
	font-size: .75rem;
	color: #74767c;
	display: flex;
	align-items: center;
	gap: 5px;
}
.products-overview .product-rating .data {
	display: none;
}
.products-overview .product-rating img {
	border: 1px solid white;
	height: 12px;
}

.related-products {
	padding: 0 1.5rem;
	height: 400px;
}

.feedback {
	height: 144px;
	background-color: #e6f1fc;
	display: flex;
	justify-content: center;
	align-items: center;
}
.feedback > div {
	display: flex;
	flex-direction: column;
}

footer {
	background-color: #0071dc;
	width: 100%;
	height: 132px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	color: white;
}
footer > div {
	padding: .5rem 1.5rem 1.5rem 1.5rem;
	text-align: center;
}